<div class="container">
       
<div class="row card-deck">


      <div class="col-lg-4 " *ngFor="let product of filterproducts">
          <div class="card text-center">
              <div class="card-header">
             
              </div>
          
              <div class="card-body mx-auto">
                 
                   
                  <h5 class="card-title">{{product.name}}</h5>
                  <h5 class="card-title">{{product.price}}</h5>
                    
         
                 
                  </div>
                  <div class="card-body">
                      <div class="row">
          
            <div class="col-4 padding-0" >
                          <button class="btn btn-primary" (click)="addProductToCart(product, 1)"
                                  >Add To Cart
                          </button>
                          <button type="button"
                        class="button small js-btn-remove"
                        *ngIf="productInCart(product) | async"
                        (click)="removeProductFromCart(product, 1)">Remove item from cart</button>
                      </div>
                      </div>
                      </div>
                    
                   
    </div>
 
    </div>
</div>
</div>
<div class="col-md-3 ml-auto">
        <app-shopping-cart></app-shopping-cart>
</div> 

<!-- <div class="row card-deck">
   
        <div class="card text-center">

            <ul *ngFor ="let products of products">
                <li>{{products.name}} - {{products.category}}</li>
              </ul>

            </div>
       
    </div> -->

