
 <div class="container" >
    <div class="row align-items-center">
        <div class="col card-deck  ">
        <div class="card  " style="width: 100rem;">
            <h4>Category->Men->View All</h4>
          </div>
          </div>
          </div>
          <div class="row align-items-center">
              <div class="col card-deck  ">
            
         <h1></h1>
               
                </div>
                </div>
                <div class="row align-items-center">
                    <div class="col card-deck  ">
                   
                        <h1></h1>
                      
                      </div>
                      </div>
                      <div class="row align-items-center">
                          <div class="col card-deck  ">
                    
                              <h1></h1>
                            
                            </div>
                            </div>
    <div class="row ">
<div class="card  " style="width: 30rem;">

    <div class="col card-deck  ">
      <div class="card-body">
          <img class="card-img-top"  style= "width: 50%; height:50%;"  src="https://d2ul0w83gls0j4.cloudfront.net/taxonomy/300/0102/20171024151632.jpg" alt="">
        <div>
          <h4>Description</h4>
          <p> ‘Florence’ midi dress from premium Australian label, Bec & Bridge. 
           </p>
       
        </div>
      </div>
      </div>
      </div>
      <div class="row ">
          <div class="card  " style="width: 40rem;">
      <div class="col  ">
        <div>
          <h4>Product Details</h4>
          <table cellspacing="0">
            <tbody>
           
            <tr>
              <th>
                Name:
              </th>
              <td>
               {{ name}}
              </td>
            </tr>
            <tr>
              <th>
               Price:
              </th>
              <td>
                {{price}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    
      <div class="container">
        <div class="title"><h3></h3></div>
    
        

          <p>Select Quantity</p>
          <!-- <select class="form-control" id="sel1"> -->
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
        </div>
        <div >
          <p>Selectsize</p>
          <button  [value]="'xs'">XS</button>
          <button   [value]="'s'">S</button>
          <button   [value]="'m'">M</button>
          <button  [value]="'l'">L</button>
          <button  [value]="'xl'">XL</button>
          <br/>
          <br/>
          <button >Add to cart</button>
        </div>
      
       
        
         
        </div>
        </div>
   
    </div>

